:root {
  --ifm-color-primary: #1e6fa8;
  --ifm-color-primary-dark: #1b6497;
  --ifm-color-primary-darker: #195f8e;
  --ifm-color-primary-darkest: #154e75;
  --ifm-color-primary-light: #217ab9;
  --ifm-color-primary-lighter: #237fc2;
  --ifm-color-primary-lightest: #2a8fd6;
}
